* {
  margin: 0;
  padding: 0;
  font-family: "Schibsted Grotesk", sans-serif;
}

.label {
  display: block;
  margin-top: 15px;
  font-weight: 600;
}
.fromulario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
}

.modal {
  text-align: center;
}
.presupuesto {
  text-align: center;
}

.fondo {
  background-image: url("../img/img1.png");
  width: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

